/* body {
  background-image: url(./liquid-cheese.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
} */
div ,p,  button {
  font-family: "KareliaWeb Regular" !important;
}

@import url(https://db.onlinewebfonts.com/c/d29ba033bd591441ba31f6aa7054787f?family=KareliaWeb+Regular);
